
# ───────────────────────────────
#   APPLICATION DEPENDENCIES
# ───────────────────────────────


docx == 0.2.4
emoji == 1.6.1
pwinput == 1.0.3
pyPDF2 == 1.26.0
pyarmor == 8.4.7
colorama == 0.4.6
threaded == 4.2.0
openpyxl == 3.1.2
python-docx == 0.8.11
pyfiglet == 0.8.post1
cryptography == 42.0.1
subprocess.run == 0.0.8
mysql-connector-python == 8.3.0


# ───────────────────────────────